@inherits MapComponent

@if (!HasBundledAssets())
{
    <HeadContent>
        <link rel="stylesheet" href="@($"https://js.arcgis.com/calcite-components/{ArcGISSDKVersionInfo.CalciteVersion}/calcite.css")" />
        @switch (Theme)
        {
            case ArcGISTheme.Light:
                <link rel="stylesheet" href="@($"https://js.arcgis.com/{string.Join(".", ArcGISSDKVersionInfo.ArcGISVersion.Split('.').Take(2))}/@arcgis/core/assets/esri/themes/light/main.css")" />

                break;
            case ArcGISTheme.Dark:
                <link rel="stylesheet" href="@($"https://js.arcgis.com/{string.Join(".", ArcGISSDKVersionInfo.ArcGISVersion.Split('.').Take(2))}/@arcgis/core/assets/esri/themes/dark/main.css")" />

                break;
        }
        <link rel="stylesheet" href="@($"https://js.arcgis.com/{ArcGISSDKVersionInfo.ArcGISMapComponentsVersion}/map-components/main.css")" />
    </HeadContent>
}

<CascadingValue Name="View" Value="this">
    <CascadingValue Name="Parent" Value="this">
        <CascadingValue Name="MapRendered" Value="MapRendered">
            <div class="@Class map-wrapper" style="@Style">
                @if (MapComponentType == typeof(SceneView))
                {
                    <arcgis-scene class="map-container" id="@($"map-container-{Id}")">
                        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                        {
                            <div class="validation-message">@((MarkupString)ErrorMessage)</div>
                        }
                        @ChildContent
                    </arcgis-scene>
                }
                else
                {
                    <arcgis-map class="map-container" id="@($"map-container-{Id}")">
                        @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                        {
                            <div class="validation-message">@((MarkupString)ErrorMessage)</div>
                        }
                        @ChildContent
                    </arcgis-map>
                }
                @if (WhiteLabel is null || !IsPro())
                {
                    <div class="dymaptic-branding">
                        <a href="https://www.geoblazor.com">
                            <img alt="GeoBlazor Logo" height="12" src="_content/dymaptic.GeoBlazor.Core/images/Blazor-API-60px.png"/> GeoBlazor
                        </a>
                        by
                        <a href="https://www.dymaptic.com">
                            <img alt="dymaptic Logo" height="12" src="_content/dymaptic.GeoBlazor.Core/images/dymaptic-logo-circle-icon.png"/> dymaptic
                        </a>
                    </div>
                }
                else
                {
                    <div class="white-label">
                        @((MarkupString)WhiteLabel)
                    </div>
                }
            </div>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>