@page "/basemaps"

<PageTitle>Basemaps</PageTitle>
<h1>BaseMaps</h1>
<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/display-a-custom-basemap-style/">ArcGIS API for JavaScript Reference</a>
</div>
<p class="instructions">Use the radio toggle to explore the 3 different ways to load a Basemap.</p>
<div class="flex-column">
    <div class="toggle-row">
        <label class="radio-container">
            Default Basemap
            <input type="radio" checked
                   name="basemap-type" @onclick="@(() => SetBasemap(0))" />
            <div class="radio-box" />
        </label>
        <a class="btn btn-secondary" target="_blank" href="https://wiki.openstreetmap.org/wiki/Main_Page">OpenStreetMap.org</a>
    </div>
    <div class="toggle-row">
        <label class="radio-container">
            From Style
            <input type="radio" 
                   name="basemap-type" @onclick="@(() => SetBasemap(1))" />
            <div class="radio-box" />
        </label>
        @if (_basemapType == 1)
        {
            <select @onchange="SelectStyleMapChanged">
                @foreach (BasemapStyleName style in Enum.GetValues(typeof(BasemapStyleName)))
                {
                    <option value="@style">@style</option>
                }
            </select>
        }
        <a class="btn btn-primary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-support-BasemapStyle.html">Basemap Style Service</a>
    </div>
    <div class="toggle-row">
        <label class="radio-container">
            From Portal Id
            <input type="radio"
                   name="basemap-type" @onclick="@(() => SetBasemap(2))" />
            <div class="radio-box"></div>
        </label>
        @if (_basemapType == 2)
        {
            <select @onchange="SelectPortalMapChanged">
                <option value="55ebf90799fa4a3fa57562700a68c405">Default-Street</option>
                <option value="da10cf4ba254469caf8016cd66369157">Satellite</option>
                <option value="86265e5a4bbb4187a59719cf134e0018">Hybrid</option>
                <option value="f33a34de3a294590ab48f246e99958c9">National Geographic</option>
                <option value="67372ff42cd145319639a99152b15bc3">Topographic</option>
                <option value="979c6cc89af9449cbeb5342a439c6a76">Gray</option>
                <option value="1a386c5dfd864bfda3f03ab428e57640">Dark Gray</option>
                <option value="fae788aa91e54244b161b59725dcbb2a">Open Street Map</option>
                <option value="9053b6cd38d54e65bb0967f355a232df">Streets Night</option>
                <option value="c50de463235e4161b206d000587af18b">Streets Navigation</option>
            </select>
        }
        <a class="btn btn-primary" target="_blank" href="https://www.arcgis.com/home/group.html?id=702026e41f6641fb85da88efe79dc166&view=list#content">ArcGIS Online Basemaps</a>
    </div>
    <div class="toggle-row">
        <label class="radio-container">
            From Tile Layers
            <input type="radio"
                   name="basemap-type" @onclick="@(() => SetBasemap(3))" />
            <div class="radio-box" />
        </label>
        <a class="btn btn-secondary" target="_blank" href="https://www.arcgis.com/home/item.html?id=1b243539f4514b6ba35e7d995890db1d">World Hillshade Tile Layer</a>
        &nbsp;&nbsp;
        <a class="btn btn-accent" target="_blank" href="https://www.arcgis.com/home/item.html?id=6976148c11bd497d8624206f9ee03e30">Forest and Parks Canvas Tile Layer</a>
    </div>
</div>
@switch (_basemapType)
{
    case 0:
        <MapView Class="map-view" Zoom="14" Latitude="52.5" Longitude="13.5">
            <Map></Map>
        </MapView>

        break;
    case 1:
        <MapView @ref="_mapView1" Class="map-view" Zoom="11" Latitude="_latitude" Longitude="_longitude">
            <Map>
                <Basemap>
                    <BasemapStyle Name="_basemapStyleName" />
                </Basemap>
            </Map>
        </MapView>
        break;
    case 2:
        <MapView @ref="_mapView2" Class="map-view" Zoom="11" Latitude="_latitude" Longitude="_longitude">
            <Map>
                <Basemap>
                    <PortalItem PortalItemId="@_basemapId" />
                </Basemap>
            </Map>
        </MapView>
        break;
    case 3:
        <MapView Class="map-view" Zoom="11" Latitude="_latitude" Longitude="_longitude">
            <Map>
                <Basemap>
                    <VectorTileLayer Opacity="0.75">
                        <PortalItem PortalItemId="6976148c11bd497d8624206f9ee03e30" />
                    </VectorTileLayer>
                    <TileLayer>
                        <PortalItem PortalItemId="1b243539f4514b6ba35e7d995890db1d" />
                    </TileLayer>
                </Basemap>
            </Map>
        </MapView>
        break;
}

@code {

    private void SetBasemap(int val)
    {
        _basemapType = val;
    }
    
    private async Task SelectStyleMapChanged(ChangeEventArgs obj)
    {
        _basemapStyleName = (BasemapStyleName)Enum.Parse(typeof(BasemapStyleName), obj.Value!.ToString()!, true);
        await _mapView1!.Refresh();
    }

    private async Task SelectPortalMapChanged(ChangeEventArgs obj)
    {
        _basemapId = obj.Value?.ToString() ?? "55ebf90799fa4a3fa57562700a68c405";
        await _mapView2!.Refresh();
    }

    private MapView? _mapView1;
    private MapView? _mapView2;
    private int _basemapType;
    private readonly double _latitude = 34.027;
    private readonly double _longitude = -118.805;
    private string _basemapId = "55ebf90799fa4a3fa57562700a68c405";
    private BasemapStyleName _basemapStyleName = BasemapStyleName.ArcgisNova;

}