@page "/feature-layers"

<PageTitle>Feature Layers</PageTitle>
<h1>Feature Layers</h1>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/add-a-feature-layer/">ArcGIS API for JavaScript Reference</a>
    <a class="btn btn-primary" target="_blank" href="https://www.arcgis.com/home/item.html?id=67372ff42cd145319639a99152b15bc3">Topographic BaseMap</a>
</div>
<p class="instructions">
    Use the radio buttons to toggle various feature layers.
</p>
<div>
    <div class="form-group">
        <label>Show Trailheads Points Layer: <input type="checkbox" class="form-check-input" @onchange="@(() => _showPointsLayer = !_showPointsLayer)"></label>
    </div>
    <div class="form-group">
        <EditForm Model="this">
            <InputRadioGroup Name="points" @bind-Value="_showLinesLayer">
                <label class="radio-container">
                    Show Trailheads Lines Layer:
                    <InputRadio Name="points" Value="1" />
                    <div class="radio-box" />
                </label>
                <label class="radio-container">
                    Show Trailheads Lines With Elevation Style Renderer:
                    <InputRadio Name="points" Value="2" />
                    <div class="radio-box" />
                </label>
                <label class="radio-container">
                    Show Trailheads Lines With Bike Trails Styled:
                    <InputRadio Name="points" Value="3" />
                    <div class="radio-box" />
                </label>
            </InputRadioGroup>
        </EditForm>
    </div>
    <div class="form-group">
        <label>Show Trailheads Polygons Layer: <input type="checkbox" class="form-check-input" @onchange="@(() => _showPolygonLayer = !_showPolygonLayer)"></label>
    </div>
    <div class="form-group">
        <label>Show Client-Side Graphics Layer: <input type="checkbox" class="form-check-input" @onchange="@(() => _showGraphics = !_showGraphics)"></label>
    </div>
</div>

<MapView @ref="MapView" Longitude="-118.80543" Latitude="34.02700" Zoom="13" Class="map-view">
    <Map ArcGISDefaultBasemap="arcgis-topographic">
        @if (_showPolygonLayer)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Parks_and_Open_Space/FeatureServer/0" />
        }
        @if (_showLinesLayer == 1)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails/FeatureServer/0" />
        }
        else if (_showLinesLayer == 2)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails/FeatureServer/0"
                          Opacity="0.75">
                <SimpleRenderer>
                    <SimpleLineSymbol Color="@(new MapColor("#BA55D3"))"
                                      LineStyle="LineStyle.Solid" />
                    <SizeVariable Field="ELEV_GAIN"
                                  MinDataValue="0"
                                  MaxDataValue="2300"
                                  MinSize="3"
                                  MaxSize="7" />
                </SimpleRenderer>
            </FeatureLayer>
        }
        else if (_showLinesLayer == 3)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trails/FeatureServer/0"
                          DefinitionExpression="USE_BIKE = 'YES'">
                <SimpleRenderer>
                    <SimpleLineSymbol Color="@(new MapColor("#FF91FF"))"
                                      LineStyle="LineStyle.ShortDot"
                                      Width="1" />
                </SimpleRenderer>
            </FeatureLayer>
        }
        @if (_showPointsLayer)
        {
            <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/Trailheads/FeatureServer/0" />
        }
        @if (_showGraphics)
        {
            <FeatureLayer @ref="_graphicsFeatureLayer" ObjectIdField="ObjectID" GeometryType="GeometryType.Point">
                <SpatialReference Wkid="4326" />
                <PopupTemplate Title="Custom Point {ObjectID}" StringContent="<img src='{url}' />" />
                <SimpleRenderer>
                    <TextSymbol Color="@(new MapColor("#7A003C"))"
                                Text="">
                        <MapFont Size="20" Family="CalciteWebCoreIcons" />
                    </TextSymbol>
                </SimpleRenderer>
                <Field Name="ObjectID" Type="FieldType.Oid" />
                <Field Name="url" Type="FieldType.String" />
            </FeatureLayer>
        }
    </Map>
</MapView>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) return;

        if (_showGraphics)
        {
            Graphic[] graphics = {
                new(new Point(34.027, -118.805),
                    attributes: new Dictionary<string, object>
                    {
                        { "ObjectID", "6" },
                        { "url", "https://arcgis.github.io/arcgis-samples-javascript/sample-data/featurelayer-collection/photo-6.jpg" }
                    }),
                new(new Point(34.017, -118.815),
                    attributes: new Dictionary<string, object>
                    {
                        { "ObjectID", "5" },
                        { "url", "https://arcgis.github.io/arcgis-samples-javascript/sample-data/featurelayer-collection/photo-5.jpg" }
                    }),
                new(new Point(34.027, -118.795),
                    attributes: new Dictionary<string, object>
                    {
                        { "ObjectID", "4" },
                        { "url", "https://arcgis.github.io/arcgis-samples-javascript/sample-data/featurelayer-collection/photo-4.jpg" }
                    }),
            };
            await _graphicsFeatureLayer!.Add(graphics);
        }
    }

    private MapView? MapView { get; set; }

    private bool _showPointsLayer;
    private int _showLinesLayer;
    private bool _showPolygonLayer;
    private bool _showGraphics;
    private FeatureLayer? _graphicsFeatureLayer;
}