@page "/wcslayers"


<h3>WCS Layers</h3>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-layers-WCSLayer.html">ArcGIS API for JavaScript</a>
    <a class="btn btn-primary" target="_blank" href="something">NOAA Sea Surface Temperature Charts</a>
</div>
<p class="instructions">
    Add the sample WCS Layer URL to see a visualization of global sea surface temperature data with or without color rendering using the RasterStretch:
</p>
<div class="spaced-row">
    <button type="button" class="btn btn-primary" disabled="@(!_mapRendered)" @onclick="@(()=>AddRemoveWCSLayer(true))">Add/Remove the WCS Layer with color ramp enabled</button>
    <button type="button" class="btn btn-accent" disabled="@(!_mapRendered)" @onclick="@(()=> AddRemoveWCSLayer(false))">Add/Remove new WCS Layer in without colorizing</button>
</div>

<MapView @ref="_view" class="map-view" OnViewRendered="OnViewRendered" PopupEnabled="false">
    <Map>
        <Basemap>
            <BasemapStyle Name="BasemapStyleName.ArcgisLightGrayBase" />
        </Basemap>
    </Map>
</MapView>

<WCSLayer @ref="_blackAndWhiteLayer" 
          Opacity="0.5"
          Title="@_wcsSampleTitle"
          Url="@_wcsLayerUrl" />

<WCSLayer @ref="_colorizedLayer"
          Opacity="0.5"
          Title="@_wcsSampleTitle"
          Url="@_wcsLayerUrl">
    <RasterStretchRenderer StretchType="StretchType.StandardDeviation"
                           NumberOfStandardDeviations="3"
                           CustomStatistics="@([_wcsLayerStatistics])">
        <MultipartColorRamp>
            <AlgorithmicColorRamp Algorithm="Algorithm.Hsv" 
                                  FromColor="@(new MapColor(0, 0, 255))" 
                                  ToColor="@(new MapColor(0, 255, 255))" />
            <AlgorithmicColorRamp Algorithm="Algorithm.Hsv" 
                                  FromColor="@(new MapColor(0, 255, 255))" 
                                  ToColor="@(new MapColor(255, 255, 0))" />
            <AlgorithmicColorRamp Algorithm="Algorithm.Hsv" 
                                  FromColor="@(new MapColor(255, 255, 0))" 
                                  ToColor="@(new MapColor(255, 0, 0))" />
        </MultipartColorRamp>
    </RasterStretchRenderer>
    <DimensionalDefinition DimensionName="StdZ" VariableName="water_temp" Values="@(new List<long> { 0 })" />
    <DimensionalDefinition DimensionName="Std_Time" VariableName="temperature" Values="@(new List<long> { 1396828800000 })" />
</WCSLayer>

@code {

    private void OnViewRendered() => _mapRendered = true;

    public async Task AddRemoveWCSLayer(bool colorized)
    {
        if (!_view!.Map!.Layers.Any())
        {
            if (colorized)
            {
                await _view.AddLayer(_colorizedLayer!);
            }
            else
            {
                await _view.AddLayer(_blackAndWhiteLayer!);
            }
        }
        else if (colorized)
        {
            await _view.RemoveLayer(_colorizedLayer!);
        }
        else
        {
            await _view.RemoveLayer(_blackAndWhiteLayer!);
        }
    }


    private MapView? _view;
    private bool _mapRendered;
    private readonly string _wcsLayerUrl = "https://sampleserver6.arcgisonline.com/arcgis/services/ScientificData/SeaTemperature/ImageServer/WCSServer";
    private readonly string _wcsSampleTitle = "Sea temperature - sea level";
    private readonly RasterBandStatistics _wcsLayerStatistics = new(1, Max: 37, Min: -3, Stddev: 1);
    private WCSLayer? _blackAndWhiteLayer;
    private WCSLayer? _colorizedLayer;

}