@page "/widgets"

<PageTitle>Widgets</PageTitle>
<h1>Widgets</h1>

<div class="links-div">
    <a class="btn btn-secondary" target="_blank" href="https://developers.arcgis.com/javascript/latest/api-reference/esri-widgets-support-widget.html">ArcGIS API for JavaScript Reference</a>
    <a class="btn btn-primary" target="_blank" href="https://www.arcgis.com/home/item.html?id=c50de463235e4161b206d000587af18b">Navigation BaseMap</a>
</div>
<p class="instructions">
    Use the checkboxes to toggle various widgets on/off. Notice that Widgets can be placed on top of the map,
    or outside the map, as in the case of the Basemap Gallery.
</p>
<div class="control-row">
    <div id="control-set">
        <div class="form-group">
            <label>Locator: <input type="checkbox" class="form-check-input" @onchange="@(() => ToggleWidget(nameof(LocateWidget)))"></label>
        </div>
        <div class="form-group">
            <label>Search: <input type="checkbox" class="form-check-input" @onchange="@(() => ToggleWidget(nameof(SearchWidget)))"></label>
        </div>
        <div class="form-group">
            <label>Basemap Toggle: <input type="checkbox" class="form-check-input" @onchange="@(() => ToggleWidget(nameof(BasemapToggleWidget)))"></label>
        </div>
        <div class="form-group">
            <label>Basemap Gallery: <input type="checkbox" class="form-check-input" @onchange="@(() => ToggleWidget(nameof(BasemapGalleryWidget)))"></label>
        </div>
        <div class="form-group">
            <label>Legend: <input type="checkbox" class="form-check-input" @onchange="@(() => ToggleWidget(nameof(LegendWidget)))"></label>
        </div>
        <div class="form-group">
            <label>Scale Bar: <input type="checkbox" class="form-check-input" @onchange="@(() => ToggleWidget(nameof(ScaleBarWidget)))"></label>
        </div>
        <div class="form-group">
            <label>Home: <input type="checkbox" class="form-check-input" @onchange="@(() => ToggleWidget(nameof(HomeWidget)))"></label>
        </div>
        <div class="form-group">
            <label>Compass: <input type="checkbox" class="form-check-input" @onchange="@(() => ToggleWidget(nameof(CompassWidget)))"></label>
        </div>

        <div class="form-group">
            <label>Bookmarks: <input type="checkbox" class="form-check-input" @onchange="@(() => ToggleWidget(nameof(BookmarksWidget)))"></label>
        </div>
        <div id="gallery-box"></div>
    </div>
</div>
<button @onclick="@(() => MapView!.Refresh())">Refresh</button>

<MapView @ref="MapView" Longitude="-40" Latitude="28" Zoom="2" Class="map-view">
    <Map ArcGISDefaultBasemap="arcgis-navigation" />
    @if (_showLocate)
    {
        <LocateWidget UseHeadingEnabled="false" Scale="1500" Position="OverlayPosition.TopLeft" />
    }
    @if (_showSearch)
    {
        <SearchWidget Position="OverlayPosition.TopRight" />
    }
    @if (_showBasemapToggle)
    {
        <BasemapToggleWidget NextBasemapName="arcgis-imagery" Position="OverlayPosition.BottomRight" />
    }
    @if (_showBasemapGallery)
    {
        <BasemapGalleryWidget ContainerId="gallery-box" />
    }
    @if (_showScaleBar)
    {
        <ScaleBarWidget Position="OverlayPosition.BottomLeft" />
    }
    @if (_showLegend)
    {
        <LegendWidget Position="OverlayPosition.TopRight" />
    }
    @if (_showHome)
    {
        <HomeWidget Position="OverlayPosition.TopLeft" />
    }
    @if (_showCompass)
    {
        <CompassWidget Position="OverlayPosition.TopLeft" />
    }
    @if (_showBookmarks)
    {
        <BookmarksWidget @ref="_bookmarkWidget" Position="OverlayPosition.TopLeft">

            <Bookmark Name="Test1234">
                <Viewpoint  >
                    <Extent Xmin="-13139131.948889678" Ymin="4047767.307589972" Xmax="-13105131.948889678" Ymax="4067767.307589972">
                        <SpatialReference Wkid="102100"></SpatialReference>
                    </Extent>
                </Viewpoint>
            </Bookmark>
        </BookmarksWidget>
    }
</MapView>

@code {
    private MapView? MapView { get; set; }

    private void ToggleWidget(string widgetTypeName)
    {
        switch (widgetTypeName)
        {
            case nameof(LocateWidget):
                _showLocate = !_showLocate;
                break;
            case nameof(SearchWidget):
                _showSearch = !_showSearch;
                break;
            case nameof(BasemapToggleWidget):
                _showBasemapToggle = !_showBasemapToggle;
                break;
            case nameof(BasemapGalleryWidget):
                _showBasemapGallery = !_showBasemapGallery;
                break;
            case nameof(LegendWidget):
                _showLegend = !_showLegend;
                break;
            case nameof(ScaleBarWidget):
                _showScaleBar = !_showScaleBar;
                break;
            case nameof(HomeWidget):
                _showHome = !_showHome;
                break;
            case nameof(CompassWidget):
                _showCompass = !_showCompass;
                break;
            case nameof(BookmarksWidget):
                _showBookmarks = !_showBookmarks;
                break;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (_showBookmarks)
        {
            _bookmarkWidget!.Bookmarks = _bookmarks;
        }
    }

    private List<Bookmark> _bookmarks = new List<Bookmark>()
    {
        new Bookmark()
        {
            Name="Angeles National Forest",
            ViewPoint = new Viewpoint()
            {
                Scale = 1,
                TargetGeometry = new Extent()
                {
                    SpatialReference = new SpatialReference(102100),
                    Xmin = -13139131.948889678,
                    Ymin = 4047767.23531948,
                    Xmax = -13092887.54677721,
                    Ymax = 4090610.189673263,
                }
            }
        },
        new Bookmark()
        {
            Name = "Crystal Lake",
ViewPoint = new Viewpoint()
            {
                TargetGeometry = new Extent()
                {
                    SpatialReference = new SpatialReference(102100),
                    Xmin = -13125852.551697943,
                    Ymin = 4066904.1101411926,
                    Xmax = -13114291.451169826,
                    Ymax = 4077614.8487296384
                }
            }
        },
        new Bookmark()
        {
            Name = "Mt. Waterman",
            ViewPoint = new Viewpoint()
            {
                TargetGeometry = new Extent()
                {
                    SpatialReference = new SpatialReference(102100),
                    Xmin= -13185668.186639601,
                    Ymin= 4066176.418652561,
                    Xmax= -13183855.195875114,
                    Ymax= 4067515.260976006
                }
            }
        }
    };

    /*
     *   new Bookmark({
              name: "Angeles National Forest",
              viewpoint: {
                targetGeometry: {
                  type: "extent",
                  spatialReference: {
                    wkid: 102100
                  },
                  xmin: -13139131.948889678,
                  ymin: 4047767.23531948,
                  xmax: -13092887.54677721,
                  ymax: 4090610.189673263
                }
              }
            }),
            new Bookmark({
              name: "Crystal Lake",
              viewpoint: {
                targetGeometry: {
                  type: "extent",
                  spatialReference: {
                    wkid: 102100
                  },
                  xmin: -13125852.551697943,
                  ymin: 4066904.1101411926,
                  xmax: -13114291.451169826,
                  ymax: 4077614.8487296384
                }
              }
            }),
            new Bookmark({
              name: "San Fernando",
              viewpoint: {
                targetGeometry: {
                  type: "extent",
                  spatialReference: {
                    latestWkid: 3857,
                    wkid: 102100
                  },
                  xmin: -13185668.186639601,
                  ymin: 4066176.418652561,
                  xmax: -13183855.195875114,
                  ymax: 4067515.260976006
                }
              }
            })
          ]
        });
     */

    private bool _showSearch;
    private bool _showLocate;
    private bool _showBasemapToggle;
    private bool _showBasemapGallery;
    private bool _showScaleBar;
    private bool _showLegend;
    private bool _showHome;
    private bool _showCompass;
    private bool _showBookmarks;

    private BookmarksWidget? _bookmarkWidget;
}