@page "/sql-filter-query"
<PageTitle>Sql Filter Query</PageTitle>
<h1>SQL Filter Query</h1>
<a target="_blank" href="https://developers.arcgis.com/javascript/latest/filter-a-feature-layer-with-sql/">ArcGIS API for JavaScript</a>

<MapView Longitude="-118.80543"
         Latitude="34.02700"
         Zoom="12"
         Class="map-view">
    <Map ArcGISDefaultBasemap="arcgis-topographic">
        <FeatureLayer Url="https://services3.arcgis.com/GVgbJbqm8hXASVYi/arcgis/rest/services/LA_County_Parcels/FeatureServer/0"
                      DefinitionExpression="@_selectedQuery">
            <PopupTemplate Title="{UseType}"
                           StringContent="Description: {UseDescription}. Land value: {Roll_LandValue}" />
        </FeatureLayer>
    </Map>

    <CustomOverlay Position="OverlayPosition.TopRight">
        <select class="esri-widget esri-select" style="width: 200px; font-family: 'Avenir Next'; font-size: 1em"
                @bind="@_selectedQuery">
            @for (var i = 0; i < _parcelLayerSql.Length; i++)
            {
                string query = _parcelLayerSql[i];
                if (i == 0)
                {
                    <option value="1=0">@query</option>
                }
                else
                {
                    <option value="@query">@query</option>
                }
            }
        </select>
    </CustomOverlay>
</MapView>

@code {
    private readonly string[] _parcelLayerSql =
    {
        "Choose a SQL where clause...", "Roll_LandValue < 200000", "TaxRateArea = 10853", "Bedrooms5 > 0",
        "UseType = 'Residential'", "Roll_RealEstateExemp > 0"
    };

    private string? _selectedQuery = "1=0";
}