@page "/"
@using Environment = System.Environment

@inject IConfiguration Configuration
@inject IHostApplicationLifetime HostApplicationLifetime
@inject IJSRuntime JsRuntime

<h1>Unit Tests</h1>
<button @onclick="() => RunTests(false, _cts.Token)">Run All Tests</button>
@if (_results.Any(kvp => kvp.Value.Failed.Any()))
{
    <button @onclick="() => RunTests(true, _cts.Token)">Rerun Failed Tests</button>
}
@if (_running)
{
    <button style="background-color: hotpink;" @onclick="CancelRun">Stop</button>
}
<button @onclick="ToggleAll">@(_showAll ? "Collapse" : "Expand") All</button>
<div class="result-section">
    @if (_running)
    {
        <span style="color: orange; font-weight: bold">Running... @Remaining tests pending</span>
    }
    else if (_results.Any())
    {
        <span style="color: orange; font-weight: bold">Complete</span>
        <span>, </span>
        <span style="color: green;">Passed: @Passed</span>
        <span>, </span>
        <span style="color: red;">Failed: @Failed</span>
    }
    @foreach (KeyValuePair<string, TestResult> result in _results.OrderBy(kvp => kvp.Key))
    {
        <p style="cursor: pointer;" @onclick="@(() => ScrollAndOpenClass(result.Key))">
            <a>
                <b>@Extensions.CamelCaseToSpaces(result.Key) - @((MarkupString)$"<span style=\"color: green;\">Passed: {result.Value.Passed.Count}</span>, <span style=\"color: red;\">Failed: {result.Value.Failed.Count}</span>")</b>
            </a>
        </p>
    }
</div>

@foreach (Type type in _testClassTypes)
{
    Dictionary<string, object> parameters = new()
    {
        { "OnTestResults", EventCallback.Factory.Create<TestResult>(this, OnTestResults) }
    };
    
    <DynamicComponent Type="@type" @ref="_testClasses[type.Name]" Parameters="@parameters" />
}

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            FindAllTests();

            if (Configuration["runOnStart"] == "true")
            {
                bool passed = await RunTests(false, _cts.Token);

                if (!passed)
                {
                    Environment.ExitCode = 1;
                }
                HostApplicationLifetime.StopApplication();
            }
        }

        _jsObjectReference ??= await JsRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/dymaptic.GeoBlazor.Core.Test.Blazor.Shared/testRunner.js");
    }

    private void FindAllTests()
    {
        var assembly = Assembly.GetExecutingAssembly();
        Type[] types = assembly.GetTypes();
        try
        {
            var proAssembly = Assembly.Load("dymaptic.GeoBlazor.Pro.Test.Blazor.Shared");
            types = types.Concat(proAssembly.GetTypes()
                .Where(t => t.Name != "ProTestRunnerBase")).ToArray();
        }
        catch
        {
            //ignore if not running pro
        }
        foreach (Type type in types.Where(t => !t.Name.EndsWith("GeneratedTests")))
        {
            if (type.IsDefined(typeof(TestClassAttribute), true) && (type.Name != nameof(TestRunnerBase)))
            {
                _testClassTypes.Add(type);
                _testClasses[type.Name] = null;

                int testCount = type.GetMethods()
                    .Count(m => m.GetCustomAttribute(typeof(TestMethodAttribute), false) != null);
                _results[type.Name] = new TestResult(type.Name, testCount, [], []);
            }
        }
        StateHasChanged();
    }

    private async Task<bool> RunTests(bool onlyFailedTests = false, CancellationToken token = default)
    {
        _running = true;
        foreach (var kvp in _testClasses)
        {
            if (token.IsCancellationRequested)
            {
                break;
            }
            
            if (_results.TryGetValue(kvp.Key, out TestResult? results))
            {
                if (onlyFailedTests && results.Failed.Count == 0)
                {
                    break;
                }
            }
            if (kvp.Value != null)
            {
                await (kvp.Value!.Instance as TestRunnerBase)!.RunTests(onlyFailedTests, true);
            }
        }
        
        _running = false;
        await InvokeAsync(StateHasChanged);
        var resultBuilder = new StringBuilder($@"
# GeoBlazor Unit Test Results
{DateTime.Now}
Passed: {_results.Values.Select(r => r.Passed.Count).Sum()}
Failed: {_results.Values.Select(r => r.Failed.Count).Sum()}");
        foreach (KeyValuePair<string, TestResult> result in _results)
        {
            resultBuilder.AppendLine($@"
## {result.Key}
Passed: {result.Value.Passed.Count}
Failed: {result.Value.Failed.Count}");
            foreach (KeyValuePair<string, string?> methodResult in result.Value.Passed)
            {
                resultBuilder.AppendLine($@"### {methodResult.Key} - Passed
{methodResult.Value}");
            }

            foreach (KeyValuePair<string, string?> methodResult in result.Value.Failed)
            {
                resultBuilder.AppendLine($@"### {methodResult.Key} - Failed
{methodResult.Value}");
            }
        }
        Console.WriteLine(resultBuilder.ToString());

        return _results.Values.All(r => r.Failed.Count == 0);
    }

    private async Task OnTestResults(TestResult result)
    {
        _results[result.ClassName] = result;
        await InvokeAsync(StateHasChanged);
    }

    private void ToggleAll()
    {
        _showAll = !_showAll;
        foreach (DynamicComponent? component in _testClasses.Values)
        {
            var testClass = (TestRunnerBase)component!.Instance!;
            testClass.Toggle(_showAll);
        }
    }

    private async Task ScrollAndOpenClass(string className)
    {
        await _jsObjectReference!.InvokeVoidAsync("scrollToTestClass", className);
        var testClass = (TestRunnerBase)_testClasses[className]!.Instance!;
        testClass.Toggle(true);
    }

    private async Task CancelRun()
    {
        await _cts.CancelAsync();
        _cts = new CancellationTokenSource();
    }

    private int Remaining => _results.Sum(r => 
        r.Value.TestCount - (r.Value.Passed.Count + r.Value.Failed.Count));
    private int Passed => _results.Sum(r => r.Value.Passed.Count);
    private int Failed => _results.Sum(r => r.Value.Failed.Count);
    private IJSObjectReference? _jsObjectReference;
    private bool _running;
    private readonly List<Type> _testClassTypes = new();
    private readonly Dictionary<string, DynamicComponent?> _testClasses = new();
    private readonly Dictionary<string, TestResult> _results = new();
    private bool _showAll;
    private CancellationTokenSource _cts = new();
}