@page "/"

<h1>Unit Tests</h1>

@if (_results is null)
{
    <p>Loading tests...</p>
}
else
{
    <div class="row">
        <label for="stop-on-fail">
            Stop on first failure
        </label>
        <input type="checkbox" 
               id="stop-on-fail" 
               disabled="@(_running)"
               @bind="_settings.StopOnFail"
               @bind:after="SaveSettings" />
    </div>
    <div class="row">
        <label for="stop-on-fail">
            Retain test results on page reload
        </label>
        <input type="checkbox" 
               id="stop-on-fail"
               disabled="@(_running)"
               @bind="_settings.RetainResultsOnReload"
               @bind:after="SaveSettings" />
    </div>
    if (_running)
    {
        <button class="stop-btn" @onclick="CancelRun">Stop</button>
    }
    else
    {
        <button @onclick="() => RunNewTests(false, _cts.Token)">Continue Test Run</button>
        <button @onclick="() => RunTests(false, _cts.Token)">Run All Tests</button>
        if (_results.Any(kvp => kvp.Value.Failed.Any()))
        {
            <button @onclick="() => RunTests(true, _cts.Token)">Rerun Failed Tests</button>
        }
    }
    <button @onclick="ToggleAll">@(_showAll ? "Collapse" : "Expand") All</button>
    <div class="result-section">
        @if (_running)
        {
            <span class="pending bold">Running... @Remaining tests pending</span>
        }
        else if (_results.Any())
        {
            <span class="completed bold">Complete</span>
            <span> | </span>
            <span class="passed bold">Passed: @Passed</span>
            <span> | </span>
            <span class="failed bold">Failed: @Failed</span>

            if (Inconclusive > 0)
            {
                <span> | </span>
                <span class="inconclusive bold">Inconclusive: @Inconclusive</span>
            }
        }
        @foreach (KeyValuePair<string, TestResult> result in _results.OrderBy(kvp => kvp.Key))
        {
            <p style="cursor: pointer;" @onclick="@(() => ScrollAndOpenClass(result.Key))">
                <a>
                    <b>@BuildResultSummaryLine(result.Key, result.Value)</b>
                </a>
            </p>
        }
    </div>

    foreach (Type type in _testClassTypes)
    {
        bool isIsolated = type.GetCustomAttribute<IsolatedTestAttribute>() != null;
        <TestWrapper TestClassType="type" Isolated="isIsolated" 
                     OnTestResults="OnTestResults" 
                     Results="_results[type.Name]"
                     JsTestRunner="_jsTestRunner"
                     @key="type.Name"
                     @ref="_testComponents[type.Name]" />
    }
}