<div class="top-row navbar">
    <div class="container-fluid">
        <div class="navbar__logo" aria-label="GeoBlazor Logo"></div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<hr>
<div id="nav-container" @ref="_navbar" class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav-list">
        @foreach (PageLink page in FilteredPages)
        {
            string linkClass = $"nav-list-link{(page.Pro ? " pro" : "")}";
            <li class="nav-list-item" @onclick="@(() => NavigateTo(page.Href))">
                <NavLink class="@linkClass" href="@(page.Href)" @onclick:preventDefault="true" Match="NavLinkMatch.All">
                    @if (page.IconClass is not null)
                    {
                        <text><span class="oi @(page.IconClass)" aria-hidden="true"></span><span class="nav-item-title">@(page.Title)</span></text>
                    }
                    else
                    {
                        <text><span class="oi"><img src="_content/dymaptic.GeoBlazor.Core.Sample.Shared/images/@(page.ImageFile)" alt="@(page.Title)" /></span><span class="nav-item-title">@(page.Title)</span></text>
                    }
                </NavLink>
            </li>
        }
    </ul>
</div>