@using dymaptic.GeoBlazor.Core.Extensions
<div class="result-section" id="@ClassName">
    <h2>@Extensions.CamelCaseToSpaces(ClassName)</h2>
    @if (_type?.GetCustomAttribute<IsolatedTestAttribute>() != null)
    {
        <h3>
            Isolated Test (iFrame) <button class="btn btn-secondary" @onclick="@(() => NavigationManager.NavigateTo($"/test-frame?class={ClassName}", true))">Reload</button>
        </h3>
    }
    <div data-testid="section-toggle" @onclick="@(() => _collapsed = !_collapsed)"
         style="cursor: pointer; display: inline; font-weight: bold; color: white; padding: 5px; border-radius: 5px; margin-bottom: 5px;">@(_collapsed ? "\u25b6" : "\u25bc")</div>
    <button @onclick="() => RunTests()">Run Class Tests</button>
    @if (_failed.Any())
    {
        <button @onclick="() => RunTests(true)">Rerun Failed Class Tests</button>
    }
    <p>
        @if (_running)
        {
            <span style="color: orange; font-weight: bold">Running... @Remaining tests pending</span>

            if (_passed.Any() || _failed.Any())
            {
                <span> | </span>
            }
        }
        @if (_passed.Any() || _failed.Any() || _inconclusive.Any())
        {
            <span class="passed" data-testid="passed">Passed: @_passed.Count</span>
            <span> | </span>
            <span class="failed" data-testid="failed">Failed: @_failed.Count</span>

            if (_inconclusive.Any())
            {
                <span> | </span>
                <span class="inconclusive" data-testid="inconclusive">Inconclusive: @_inconclusive.Count</span>
            }
        }
    </p>
    <div class="detail-results @(_collapsed ? "collapsed" : "")">
        @foreach (KeyValuePair<string, string> entry in _testResults)
        {
            MethodInfo methodInfo = _methodInfos!.First(mi => mi.Name == entry.Key);
            <h3>@Extensions.CamelCaseToSpaces(entry.Key)</h3>
            <div class="test-results-container" id="@entry.Key">
                <div class="test-results-col">
                    <div class="button-row">
                        <button id="@($"run-{methodInfo.Name.ToKebabCase()}-btn")"
                                @onclick="@(() => RunTest(methodInfo))">
                            Run Test
                        </button>
                        <label>
                            <input type="checkbox" @bind="@_interactionToggles[entry.Key]"/>
                            Pause for Interaction
                        </label>
                        @if (_currentTest == entry.Key)
                        {
                            <button @onclick="@(() => CleanupTest(entry.Key))">Stop</button>
                        }
                    </div>
                    @((MarkupString)entry.Value)
                </div>
                @if (_testRenderFragments.TryGetValue(entry.Key, out RenderFragment? fragment))
                {
                    <ErrorHandler MethodName="@entry.Key" OnError="OnRenderError">
                        <ChildContent>
                            <div style="display: flex; justify-content: center; position: relative;">
                                <div style="position: absolute; top: -100px; right: 10px;">
                                    <div style="position: relative; height: 100%; width: 100%;">
                                        @fragment
                                    </div>
                                </div>
                            </div>
                        </ChildContent>
                        <ErrorContent></ErrorContent>
                    </ErrorHandler>
                }
            </div>
        }
    </div>
</div>